<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="backerUpper" type="BackerUpper.Configuration.Configuration, BackerUpper.Configuration"/>
    <section name="aws" type="Amazon.AWSSection, AWSSDK.Core"/>
  </configSections>
  <backerUpper uniqueClientId="test">
    <locations>
      <add filePath="C:\Users\USER_DIRECTORY\Desktop" backupFileName="MyDesktop" />
      <add filePath="C:\Users\USER_DIRECTORY\Documents" backupFileName="MyDocuments" />
    </locations>
  </backerUpper>
  <aws profileName="development"/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
</configuration>
