<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn" internalLogFile="c:\temp\nlog-internal.log">
  <targets>
    <target xsi:type="File" 
            name="FileTarget" 
            fileName="${specialfolder:folder=ApplicationData}\${processname:fullName=false}\RunLog.log" 
            createDirs="true" 
            archiveOldFileOnStartup="true" 
            archiveNumbering="Sequence" 
            archiveFileName="${specialfolder:folder=ApplicationData}${processname:fullName=false}\Archive\RunLog{####}.log" 
            maxArchiveFiles="10"/>
    <target xsi:type="ColoredConsole"
            name="ConsoleTarget"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
            useDefaultRowHighlightingRules="true" >
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="FileTarget" enabled="false" />
    <logger name="*" minlevel="Trace" writeTo="ConsoleTarget" enabled="true" />
  </rules>
</nlog>
